* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the video: 100% width and height to cover the entire window */
#video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
}
  
/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #FED804;
    width: 50%;
    padding: 20px;
}

.content a {
    padding: 15px;
    border: #ff8000 1px solid;
    border-radius: 30px;
    background-color: #FED804;
    color: #FFFFFF;
    text-decoration: none;
}